.button {
  display: block;
  width: max-content;
  padding-bottom: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.14288rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.15s;

  &--green {
    background-color: transparent;
    border-bottom: 3px $clr-green solid;
    
    &:hover {
      color: $clr-green;
    }
  }
}