@use '../../../assets/styles/abstract' as a;

.text-input {
  display: grid;
  gap: 0.5rem;

  &__field {
    width: 100%;
    padding: 0 1rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $clr-white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid a.$clr-white;
    outline: none !important;

    &::placeholder {
      color: a.$clr-light-grey;
      opacity: 0.5;
    }

    &:focus {

    }

    &--error,
    &--error:focus {

    }
  }

  &__status {
    text-align: left;
    font-size: 0.75rem;
  }
}