.skills {
  grid-area: 2/2;
  text-align: center;
  padding: 2.5rem 0;
  border-top: 1px solid $clr-white;
  border-bottom: 1px solid $clr-white;
  position: relative;
  
  @include breakpoint(medium) {
    text-align: left;
    border-bottom: unset;
  }

  &:before {
    content: url('/images/pattern-rings.svg');
    position: absolute;
    bottom: 0;
    right: -8rem;
    transform: translate(50%);

    @include breakpoint(medium) {
      right: -6rem;
    }
  }
  
  &__list {
    display: grid;
    gap: 1.5rem;
    list-style: none;
    
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  &__skill {
    display: grid;
    gap: 0.25rem;
  }
}