.header {
  position: absolute;
  width: 100%;

  &__content {
    grid-area: 1/2;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 2.5rem 0;
    
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    gap: 1rem;

    & > * {
      color: $clr-white;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        color: $clr-green;
      }
    }
  }
}